<html>

<style>
body{
background:rgb(250,100,0);
}

.first{
background:rgb(100,200,230);
}
.options
{
height:100%;
background:white;
width:15%;
}
.lists
{
list-style-type:none;
list-style-margin-left:15px;

}

</style>
<head>

</head>

<body>{% csrf_token %}
<div align="center" class="first">

<br>
<p>HELLO WELCOME TO BLOG </p>
<br>
</div>
<hr>
<div class="options" align="left">
<list class="lists">
<br>
<li style="margin-left:15% " ><a href="/followers">Posts</a></li>
<br><li style="margin-left:15%"><a href="/followers">Followers</a></li>
<br><li style="margin-left:15%"><a href="/messages">Messages</a></li>
<br><li style="margin-left:15%"><a href="/followers">Tags</a></li>
</list>
</div>
<body>
<div >
<p>helloo</p>
</div>


</html>