<!DOCTYPE html>
<HTML>
<HEAD><TITLE>Login Page</TITLE></HEAD>
<BODY>
<CENTER>
<FORM method="GET" action="/polls/signup/">{% csrf_token %}
<p>Have no account?</p>
<input type="submit" value="SIGN UP">
</FORM>

<FORM method="POST" action="/polls/blog/">{% csrf_token %}
<p>sign in if already signed up </p>
<paragraph> Enter your login name: <input type="text" name="login">
<paragraph> Enter your password: <input type=password name="password">
<paragraph> <input type="submit" value="Signin">
</FORM>


</CENTER>
<HR>


</BODY>
</HTML>
